body,html, div,p{
    padding: 0;
    margin: 0;
}

.card{
    width:50%;
    margin:auto;
    margin-top:10%;
}

.card nav{
    width:100%;
    height:60px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: block;
    padding:5px 10px;
}

.card nav button{
    padding:10px 5px;
    margin-bottom:10px;
    margin-right:10px;
}

.card input[type="text"]{
    width:100%;
    height:40px;
    display:block;
    border:none;
    padding:10px;
    font-size:25px;
}

.card .title{
    font-size: 40px;
}
.card-body ul{
    display: block;
    padding: 0;
    margin:0;

}

.card-body li{
    font-size:20px;
    list-style-type: none;
    background-color: rgba(205, 208, 212,0.5);
    padding:5px 10px;
    text-transform:capitalize;
    
}

.card-body button{
    float:right;
}